parameters:
	level: 8
	paths:
		- src/
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Call to an undefined static method .+BlobRestProxy::createBlobService\(\).#'
